{% extends "base.html" %}

{% block content %}
    <div class="col-md-6">

        <form class="navbar-form" action="/searchBlock/" method="post">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="add block of download and comment..." id="query" name="query" value="">
                <div class="input-group-btn">
                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </div>
            
        </form>
        <form class="navbar-form" action="/searchBlockAdd/" method="post">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="add block of adding friend..." id="query" name="query" value="">
                <div class="input-group-btn">
                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </div>
            
        </form>

        {% if ifSearch %}
            {% if searchedBlock or blockVistor%}
            <!-- div should be put internal, in comment, percent sign can not come up-->
            
                {%if searchedBlock%}
                    <div class="alert alert-warning col-md-10 col-md-offfset-1"> 
                        <ul>
                            <li>The user {{searchedBlock}} was found successfully!</li>
                        </ul>
                    </div>
                {% else %}
                    <div class="alert alert-warning col-md-10 col-md-offfset-1"> 
                        <ul>
                            <li>You are ready to block vistor!</li>
                        </ul>
                    </div>
                {% endif %}

            <form class="navbar-form" action="/addBlock/" method="post">
                <input class="form-control" type="hidden" name="searchedBlock" value={{searchedBlock}}>
                <button type="submit" id="submit" class="btn btn-primary start">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>add block</span>
                </button>
            </form>
            {% else %}
            <div class="alert alert-warning col-md-10 col-md-offset-1"> 
                <ul>
                    <li>The searched user was not found.</li>
                </ul>
            </div>
            {% endif %}

        {% endif %}

        {% if ifSearchAdd %}
            {% if searchedBlock or blockVistor%}
            <!-- div should be put internal, in comment, percent sign can not come up-->
            
                {%if searchedBlock%}
                    <div class="alert alert-warning col-md-10 col-md-offfset-1"> 
                        <ul>
                            <li>The user {{searchedBlock}} was found successfully!</li>
                        </ul>
                    </div>
                {% else %}
                    <div class="alert alert-warning col-md-10 col-md-offfset-1"> 
                        <ul>
                            <li>You are ready to block vistor!</li>
                        </ul>
                    </div>
                {% endif %}

            <form class="navbar-form" action="/addBlockAdd/" method="post">
                <input class="form-control" type="hidden" name="searchedBlock" value={{searchedBlock}}>
                <button type="submit" id="submit" class="btn btn-primary start">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>add block</span>
                </button>
            </form>
            {% else %}
            <div class="alert alert-warning col-md-10 col-md-offset-1"> 
                <ul>
                    <li>The searched user was not found.</li>
                </ul>
            </div>
            {% endif %}

        {% endif %}

    </div>
    {%if ifAdd%}
        {% if addedUser %}
        <!-- div should be put internal, in comment, percent sign can not come up-->
            <div class="col-md-4 col-md-offset-4 alert alert-warning"> 
                <ul>
                    <li>Add user {{addedUser}} successfully!</li>
                </ul>
            </div>
        {% else%}
            <div class="col-md-4 col-md-offset-4 alert alert-warning"> 
                <ul>
                    <li>The user already in your list!</li>
                </ul>
            </div>
        {% endif %}
    {% endif %}

    {% if blocklist %}
        <!-- div should be put internal, in comment, percent sign can not come up-->
    <div class="col-md-11">
      My Block List of Blocking Comment and Download:
    </div>

    <div class="col-md-8">

        <form class="navbar-form" action="/deleteBlockedUser/" method="post">

            <div class="col-md-3">
            <select data-live-search="true" class="btn-primary form-control input-small"  name ="blockedUser">
                {% for blockedUser in blocklist %}
                  <option value="{{blockedUser}}">{{blockedUser}}</option>
                {% endfor %}
            </select>
            </div>

            <div class="input-group-btn">
               <button type="submit" class="btn btn-danger" name="delete" value="delete">delete</button>
            </div>
        </form>
    </div>
    {% endif %}

    {% if blocklistAdd %}
        <!-- div should be put internal, in comment, percent sign can not come up-->
    <div class="col-md-11">
      My Block List of Blocking adding friend:
    </div>

    <div class="col-md-8">

        <form class="navbar-form" action="/deleteBlockedAddUser/" method="post">

            <div class="col-md-3">
            <select data-live-search="true" class="btn-primary form-control input-small"  name ="blockedUser">
                {% for blockedUser in blocklistAdd %}
                  <option value="{{blockedUser}}">{{blockedUser}}</option>
                {% endfor %}
            </select>
            </div>

            <div class="input-group-btn">
               <button type="submit" class="btn btn-danger" name="delete" value="delete">delete</button>
            </div>
        </form>
    </div>
    {% endif %}

{% endblock %}
